usercontainer {
    height: 40%;
}

#usercontainer {
    height: 20%;
}

.usercontainer {
    height: 82%;
    position: fixed;
}

.userlist {
    height: 640px;
    overflow: scroll;
}

.sticky_header {
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 9;
}

.usertickets {
    height: 550px;
}

userdetails {
    height: 20%;
}

.userdetails {
    height: 24%;
}

userdetailsrow {
    height: 10%;
}

.userdetailsrow {
    height: 15%;
}

.udlabel {
    width: 30%;
}

.udinput {
    width: 65%;
}

.usermain {
    height: 18%;
}

.tickdetailscont {
    height: 25%;;
}

.commentscont {
    width: 100%;;
    height: 50%;
}

.ScrollStyle {
    position: relative;
    height: 200px;
    overflow: auto;
    display: block;
}